NEXT_PUBLIC_SUPABASE_URL=https://rgdrbnbynqacsbkzofyf.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJnZHJibmJ5bnFhY3Nia3pvZnlmIiwicm9sZSI6ImFub24iLCJpYXQiOjE2NjM0NDM2NTEsImV4cCI6MTk3OTAxOTY1MX0.yfDea8rgHdYJJSf7xByN19vqm2LxRm3mrkOVw9to_aY